@import url(//db.onlinewebfonts.com/c/89d8fba73b6d10c300478fad02d4871d?family=Touche);
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: Touche !important;
  padding: 0;
  margin: 0;
  color: black;
  font-weight: 600;
}
.navbar-brand{
  font-weight: 600;
}
.bg-gunmetal{
  background-color: #1b222b;
}
.main-section{
  height: 100vh;

}
.active{
  border-bottom: 1px solid #5b7cb3;
}
.nav-link:hover{
  border-bottom: 1px solid #5b7cb3;
}
.nav-link.btn{
  border-radius: 0px;
  font-weight: bold;
  background-color: #6bc0c9;
  border-color: #6bc0c9;
}
.main{
  height: 100vh;
  color: white;
}
.light-text{
  color: #8c8c8c;
}
.underline{
  width: 100px;
  height: 2px;
  background-color: #6bc0c9;
}
p{
  color:#8c8c8c;
}
.bg-mud{
  background: #f3f3f3;
}
.experience{
  min-height: 1000px;
}
.cyan-clr{
  color: #6bc0c9;
}
.dot{
  width:15px;
  height:15px;
  border-radius: 50%;
  background: #1b222b;
}
.bg-cyan{
  background-color: #6bc0c9 !important;
}
.bg-gray{
  background: #ccd6df;
}
.br-cyan{
  border-color: #6bc0c9 !important;
}
.br-right{
  border-right: 1px solid #d3d3d3;
}
.br-left{
  border-left: 1px solid #d3d3d3;
}

.exp-box{
  width: 430px;
  margin: 0 auto;
}
.form-control{
  border-radius: 20px !important;
  padding-left: 30px !important;
}
textarea{
  resize: none !important;
}