@import url(//db.onlinewebfonts.com/c/89d8fba73b6d10c300478fad02d4871d?family=Touche);
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: Touche !important;
  padding: 0;
  margin: 0;
  color: black;
  font-weight: 600;
}
.navbar-brand{
  font-weight: 600;
}
.main-section{
  height: 100vh;
  background-color: #1b222b;
}
.active{
  border-bottom: 1px solid #5b7cb3;
}
.nav-link:hover{
  border-bottom: 1px solid #5b7cb3;
}
.nav-link.btn{
  border-radius: 0px;
  font-weight: bold;
  background-color: #6bc0c9;
  border-color: #6bc0c9;
}
.main{
  color: white;
}
.light-text{
  color: #8c8c8c;
}
.underline{
  width: 100px;
  height: 2px;
  background-color: #6bc0c9;
}
p{
  color:#8c8c8c;
}
.compet{
  background: #f3f3f3;
}
.cyan-clr{
  color: #6bc0c9;
}
.dot{
  width:15px;
  height:15px;
  border-radius: 50%;
  background: #1b222b;
}
.bg-gray{
  background: #ccd6df;
}